<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cake4u">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.sms_cake.activity_user_card_update" />
        <activity android:name="com.example.sms_cake.User_settings_activity" />
        <activity android:name="com.example.sms_cake.User_search_cakes" />
        <activity android:name="com.example.sms_cake.User_payment_Activity" />
        <activity android:name="com.example.sms_cake.User_Confirm_Order" />
        <activity android:name="com.example.sms_cake.User_card_Activity" />
        <activity android:name="com.example.sms_cake.SellerViewCakeActivity" />
        <activity android:name="com.example.sms_cake.SellerRegisterActivity" />
        <activity android:name="com.example.sms_cake.SellerHomeActivity" />
        <activity android:name="com.example.sms_cake.SellerAddCakeActivity" />
        <activity android:name="com.example.sms_cake.CakeDetailActivity" />
        <activity android:name="com.example.sms_cake.Seller_approval" />
        <activity
            android:name="com.example.sms_cake.AdminHomeActivity"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.sms_cake.Admin_view_customer_orders" />
        <activity android:name="com.example.sms_cake.Admin_view_customer" />
        <activity android:name="com.example.sms_cake.Admin_notification_Activity" />
        <activity android:name="com.example.sms_cake.Admin_edit_cakes" />
        <activity android:name="com.example.sms_cake.Admin_edit_categories" />
        <activity android:name="com.example.sms_cake.Admin_add_cakes" />
        <activity android:name="com.example.sms_cake.Admin_add_new_category" />
        <activity android:name="com.example.sms_cake.RegisterActivity" />
        <activity android:name="com.example.sms_cake.LoginActivity" />
        <activity
            android:name="com.example.sms_cake.AppHomeActivity"
            android:label="@string/cake4u"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.sms_cake.HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.sms_cake.MainActivity"></activity>
    </application>

</manifest>